<launch>
  <!-- Launch OctoMap Server Node -->
  <node pkg="octomap_server" type="octomap_server_node" name="octomap_server" output="screen">
    <!-- Remap cloud_in to the ORB_SLAM3 map points topic -->
    <remap from="cloud_in" to="/orb_slam3/map_points" />
    
    <!-- Parameters for OctoMap -->
    <param name="resolution" value="0.01" />
    <param name="frame_id" value="world" />
  </node>

  <!-- Launch RViz to visualize the OctoMap -->
  <node pkg="rviz" type="rviz" name="rviz" args="-d /opt/catkin_ws/my_octomap_launch/rviz/visual.rviz" output="screen">
  </node>
</launch>

